<footer class="site-footer">

  <div class="wrapper two-section">

    <hr>

    <div class="footer-heading left centered light">
      <h6>
        <i class="fa fa-copyright"></i> {{ site.time | date: '%Y' }}
        {{ site.stylized }} &ndash; A <a href="https://hackmit.org/">HackMIT</a> Project
      </h6>
    </div>

    <div class="footer-credits right centered light">
      <h6><a href="{{ site.content_source }}"><i class="fa fa-github"></i> Contribute</a></h6>
    </div>

  </div>

</footer>
