<header class="site-header">

  <div class="wrapper">

    <nav>
      <ul>
        <li><i class="fa fa-angle-right"></i> <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></li>

      {% for item in page.hierarchy %}
        <li><i class="fa fa-angle-right"></i> <a class="site-nav" href="{{ item.path }}">{{ item.name }}</a></li>
      {% endfor %}

      {% if page.title %}
        <li><i class="fa fa-angle-right"></i> {{ page.title }}</li>
      {% endif %}
      </ul>
    </nav>

    <hr>

  </div>

</header>
