@import "../../libs/neat/app/assets/stylesheets/neat-helpers";

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
$grid-columns: 4;
// $max-width: em(1088);

// Debugging
$visual-grid: false;
$visual-grid-color: red;
$visual-grid-index: front;
$visual-grid-opacity: 0.1;

// Neat Breakpoints
$medium-screen: em(640);
$large-screen: em(860);

$medium-screen-up: new-breakpoint(min-width $medium-screen 8);
$large-screen-up: new-breakpoint(min-width $large-screen 12);
